<div class="title-description margin-bottom--32">
  <div class="d-flex d-flex--align-center margin-bottom--24 profile-tabs-mobile">
    <h3 style="margin-right: 45px;">my profile</h3>
    <div class="tabs-items jobs-button-desktop">
      <a class="tab-cell" style="padding: 11px 10px 11px 10px;" routerLink="/candidate/profile_details" routerLinkActive="active">Personal Information</a>
      <a class="tab-cell" style="padding: 11px 10px 11px 10px;" routerLink="/candidate/achievements" routerLinkActive="active">Achievements & References </a>
      <a class="tab-cell" style="padding: 11px 10px 11px 10px;" routerLink="/candidate/video" routerLinkActive="active">My Video</a>
      <a class="tab-cell" style="padding: 11px 10px 11px 10px;" routerLink="/candidate/preferences" routerLinkActive="active">Preferences</a>
    </div>
    <select class="form-control field--medium input-form select-form jobs-button-mobile min-width--100" #filter1 (change)="routerApplicants(filter1.value)">
      <option value="/candidate/profile_details">Personal Information</option>
      <option value="/candidate/achievements">Achievements & References</option>
      <option value="/candidate/video">My Video</option>
      <option value="/candidate/preferences">Preferences</option>
    </select>
  </div>
  <p *ngIf="_sharedService.visibleErrorProfileIcon">Please note that your profile needs to be 50% completed in order to apply for jobs.</p>
  <p *ngIf="_sharedService.visibleErrorVideoIcon">You must fill in your Personal Info & My Video.</p>
  <p *ngIf="!_sharedService.visibleErrorProfileIcon && !_sharedService.visibleErrorVideoIcon">Your profile is complete enough to be viewed by clients and to receive new job postings.</p>
</div>
<div class="row margin-top--32 margin-bottom--32" *ngIf="
  candidateProfileDetails?.profile?.percentage > 50 &&
  candidateProfileDetails?.profile?.cvFiles &&
  candidateProfileDetails?.profile?.cvFiles[0] &&
  ((candidateProfileDetails?.allowVideo === true) ||
  (candidateProfileDetails?.profile?.video && candidateProfileDetails?.profile?.video?.approved === true))">
  <div class="col-md-8 padding-left--0 candidate-dashboard-notification">
    <div class="row margin-bottom--8">
      <div class="col-md-10 padding-left--0">
        <label class="label-text">I am looking for a job</label>
      </div>
      <div class="col-md-2">
        <div class="switch__container margin-left--12">
          <input id="switch-shadow8" class="switch switch--shadow" type="checkbox" [(ngModel)]="checkLooking" (ngModelChange)="changeStatusCandidate('looking', checkLooking)">
          <label for="switch-shadow8" [ngClass]="{'test-shadow': visibilityLooking}"></label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 padding-left--0">
        <label *ngIf="checkLooking" class="label-text">I'm visible to all employers prior to my application to a job</label>
        <label *ngIf="!checkLooking" class="label-text disabled-text">I'm visible to all employers prior to my application to a job</label>
      </div>
      <div class="col-md-2">
        <div class="switch__container margin-left--12">
          <input id="switch-shadow19" class="switch switch--shadow" type="checkbox" [(ngModel)]="checkVisible" (ngModelChange)="changeStatusCandidate('visible', checkVisible)">
          <label for="switch-shadow19" [ngClass]="{'test-shadow': visibilityVisible}"></label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row progress-info margin-bottom--32">
  <ngb-progressbar class="full-width" [value]="_sharedService.progressBar" type="warning" [max]="100">{{ _sharedService.progressBar }}% Complete</ngb-progressbar>
</div>
<div class="row margin-bottom--18">
  <h4 class="title-row">My Video</h4>
</div>
<div class="row margin-bottom--16">
  <div class="col-md-12 padding-left--0 padding-right--0">
    <div class="contant-profile">
      <!-- Progress bar -->
      <div class="row">
        <div class="col-md-6 padding-left--0">
          <div class="video-pre-header">PLEASE ANSWER THE FOLLOWING QUESTIONS IN YOUR VIDEO</div>
          <div class="q-list">
            <div class="q-list-title">Q1. Introduction</div>
            <div class="q-list-items">
              <ul class="q-list-items-ul">
                <li class="q-list-items-ul-li">Your name</li>
                <li class="q-list-items-ul-li">The year you were born</li>
              </ul>
            </div>
          </div>
          <div class="q-list">
            <div class="q-list-title">Q2. How would you describe yourself?</div>
          </div>
          <div class="q-list">
            <div class="q-list-title">Q3. How would you define success?</div>
          </div>
          <div class="q-list">
            <div class="q-list-title">Q4. Select any 2 of the following questions:</div>
            <div class="q-list-items">
              <ul class="q-list-items-ul">
                <li class="q-list-items-ul-li">What is a recent book you've read and how has it shaped your thinking?</li>
                <li class="q-list-items-ul-li">In a team environment, what role do you usually take on?</li>
                <li class="q-list-items-ul-li">What makes you stand out from your peers?</li>
                <li class="q-list-items-ul-li">What do you think about most when you're alone in your car?</li>
                <li class="q-list-items-ul-li">What motivates you?</li>
                <li class="q-list-items-ul-li">Describe your ideal working environment.</li>
                <li class="q-list-items-ul-li">What's one thing you would like to do better and how do you plan on improving this?</li>
                <li class="q-list-items-ul-li">What's the biggest risk you’ve taken and what did you learn from it?</li>
              </ul>
            </div>
          </div>
          <div class="video-pre-header">OPTIONAL</div>
          <div class="q-list">
            <div class="q-list-title">Q5. Highlight any achievements through your career</div>
            <div class="q-list-items">
              <ul class="q-list-items-ul">
                <li class="q-list-items-ul-li">Include: Dean’s list, Golden Key, Headboy/girl, first time passes for board, outstanding / highly effective rating during your articles etc</li>
              </ul>
            </div>
          </div>
          <div class="q-list">
            <div class="q-list-title">Q6. Is there anything else you would like a potential employer to know about you?</div>
          </div>
        </div>
        <!-- Content from video -->
        <div class="col-md-6 padding-right--0">
          <div class="video-pre-header">IMPORTANT TIPS</div>
          <div class="q-list">
            <ul class="q-important-list-items-ul">
              <li class="q-important-list-items-ul-li">Please ensure your video is recorded in landscape format</li>
              <li class="q-important-list-items-ul-li">Make sure you have a suitable background (preferably a white or grey wall)</li>
              <li class="q-important-list-items-ul-li">Sit close enough to the screen/phone so that your head and shoulders take up the majority of the screen (i.e. limit foreground & surroundings)</li>
              <li class="q-important-list-items-ul-li">Choose a quiet space with limited background noise</li>
              <li class="q-important-list-items-ul-li">Speak clearly​</li>
              <li class="q-important-list-items-ul-li">You only have 5 minutes so be sure to plan carefully</li>
              <li class="q-important-list-items-ul-li">Remember to look into the camera on your phone/PC and not at the screen</li>
              <li class="q-important-list-items-ul-li">If you hear an echo, please turn off your speaker (but keep you microphone on)</li>
              <li class="q-important-list-items-ul-li"><strong>Finally, before submitting, ask yourself if you are proud of the video and happy that this will be shown to potential employers. If not, do it again until you are!</strong></li>
            </ul>
          </div>

          <!-- list video-->
          <div class="d-flex button-loader-video">
            <label for="file" class="button-file-upload margin-right--15" *ngIf="!videoObject">
              <span *ngIf="!buttonPreloader && !mobileButton" class="btn primary-button">Upload</span>
              <span *ngIf="!buttonPreloader && mobileButton" class="btn primary-button">Upload or Record Video</span>
              <span class="js-button-file-upload-text button-file-upload-text"></span>
              <input type="file" #videoBlock (change)="uploadVideo()" id="file" name="file" class="js-button-file-upload-input" accept="video/mp4,video/x-m4v,video/*">
              <button *ngIf="buttonPreloader && !mobileButton" class="btn primary-button position--relative">
                <div class="loader--tiny"></div>
                Upload
              </button>
              <button *ngIf="buttonPreloader && mobileButton" class="btn primary-button position--relative">
                <div class="loader--tiny"></div>
                Upload or Record Video
              </button>
            </label>
            <!-- upload input-->
            <button *ngIf="!videoRecordStatus && !videoObject && !mobileButton" class="btn primary-button margin-bottom--15" (click)="openVideoPopup(); clearVideo()">Record Video</button>
            <button *ngIf="videoRecordStatus && !videoObject" class="btn primary-button position--relative margin-bottom--15">
              <div class="loader--tiny"></div>
              Record Video
            </button>
          </div>
          <button *ngIf="!buttonVideoPreloader" class="btn primary-button margin-bottom--24" (click)="getVideoProfessionally()">Get your video done professionally</button>
          <button *ngIf="buttonVideoPreloader" class="btn primary-button position--relative margin-bottom--24">
            <div class="loader--tiny"></div>
            Get your video done professionally
          </button>
          <!-- get professionally video -->
          <div class="preloader-video" *ngIf="preloaderNewVideo">
            <div class="preloader-video-content">
              <p class="preloader-video-content-text">Video busy uploading...</p>
            </div>
            <div id="loadingProgressG">
              <div id="loadingProgressG_1" class="loadingProgressG"></div>
            </div>
          </div>
          <div class="candidate-video" *ngIf="videoObject && !preloaderNewVideo">
            <video style="max-height: 400px" [src]="videoObject.url" #videoPlayer width="100%" height="100%" controls></video>
            <div class="d-flex d-flex--justify-end d-flex--align-center margin-top--16" [ngClass]="{'block-imp': preloaderVideo}">
              <span *ngIf="!preloaderVideo" class="job-popup-delete margin-right--16" (click)="openVerticallyCenter(question)">Remove video</span>
              <span *ngIf="!preloaderVideo && !mobileButton" class="job-popup-delete margin-right--16" (click)="openUploadPopup()">Upload new video</span>
              <span *ngIf="!preloaderVideo && mobileButton" class="job-popup-delete margin-right--16" (click)="openUploadPopup()">Upload or Record new video</span>
              <span *ngIf="!preloaderVideo && !mobileButton" class="job-popup-delete margin-right--16" (click)="openVerticallyCenter(questionNewRecord)">Record new video</span>
              <div *ngIf="preloaderVideo" style="margin-top: 15px;" class="loader-table margin-bottom--12" id="loader-6">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <!-- video block -->
        </div>
        <!-- Video content -->
      </div>
    </div>
  </div>
</div>
<div class="d-flex d-flex--justify-center d-flex--align-center border-top-step border-bottom-step padding--15">
  <button (click)="stepNextPage()" class="btn primary-button margin-top--16 margin-bottom--8">Next</button>
</div>

<ng-template #question let-c="close" let-d="dismiss">
  <button type="button" class="close close-test" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-body">
    <h3 class="job-popup-title">Are you sure?</h3>
    <div class="button-container-popup d-flex">
      <button (click)="removeVideo()" class="btn primary-button job-popup-button">Yes</button>
      <button (click)="d('Cross click')" class="btn primary-button job-popup-button">No</button>
    </div>
  </div>
</ng-template>

<ng-template #questionNewRecord let-c="close" let-d="dismiss">
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-body">
    <h3 class="job-popup-title">Are you sure?</h3>
    <div class="button-container-popup d-flex">
      <button (click)="d('Cross click'); openVideoPopup(); clearVideo()" class="btn primary-button job-popup-button">Yes</button>
      <button (click)="d('Cross click')" class="btn primary-button job-popup-button">No</button>
    </div>
  </div>
</ng-template>

<div [ngClass]="{'active': videoUploadPopup}" class="modal-video-record">
  <div class="video-record-body" style="width: 390px; padding: 3rem 1rem 1rem 1rem; position: relative">
    <div class="video-record-head" style="position: absolute; right: 0px; top: 2px;">
      <button type="button" class="close" aria-label="Close" (click)="openUploadPopup()" style="color: #000; font-size: 22px;">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="rec-player" style="margin-bottom: 18px;">
      <h3 class="job-popup-title">Are you sure?</h3>
      <div class="button-container-popup d-flex d-flex--align-center">
        <label class="button-file-upload margin-right--15 upload-file-t">
          <span *ngIf="!buttonPreloader" class="btn primary-button" (click)="openUploadPopup()">Yes</span>
          <span class="js-button-file-upload-text button-file-upload-text"></span>
          <input type="file" #videoBlock (change)="uploadVideo()" class="js-button-file-upload-input" accept="video/mp4,video/x-m4v,video/*">
          <button *ngIf="buttonPreloader" class="btn primary-button position--relative">
            <div class="loader--tiny"></div>
            Yes
          </button>
        </label>
        <button (click)="openUploadPopup()" class="btn primary-button job-popup-button upload-file-t">No</button>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="{'active': videoRecordPopup}" class="modal-video-record">
  <div class="video-record-head">
    <button type="button" class="close" aria-label="Close" (click)="stop(); openVideoPopup(); clearVideo()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="video-record-body">
    <div class="rec-player">
      <div *ngIf="previewRecordInfo" class="preview-record">
        <h3 class="preview-record-title">You are about to record a video</h3>
        <span class="preview-record-text" style="margin-bottom: 10px; font-weight: 600;">HOW IT WORKS:</span>
        <span class="preview-record-text margin-bottom--4">Click on thr Start your Recording with the bottom left button to begin your recording.</span>
        <span class="preview-record-text--strong margin-bottom--7">Please note: be ready since it starts recording immediately.</span>
        <button disabled class="btn primary-button margin-right--12 margin-bottom--10"><i class="fas fa-video"></i> Start recording </button>
        <span class="preview-record-text--red">allow your browser to access your camera if the start recording button does nothing. <a href="https://appearin.helpscoutdocs.com/article/54-how-do-i-check-my-browser-permissions-for-my-camera-and-microphone" target="_blank">find out how</a></span>
        <span class="preview-record-text margin-bottom--3">You can Pause and Continue Recording as you go along.</span>
        <span class="preview-record-text margin-bottom--13">Once you are done select Stop.</span>
        <div class="preview-record-buttons">
          <button disabled class="btn danger-button margin-right--12 margin-bottom--18"><i class="fas fa-pause margin-right--8"></i> Pause</button>
          <button disabled class="btn danger-button margin-right--12 margin-bottom--18"><i class="fas fa-stop-circle margin-right--8"></i> Stop (04:48)</button>
        </div>
        <span class="preview-record-text" style="margin-bottom: 10px; text-align: center; line-height: 18px;">You can download the video to your desktop if you want to but once you are done, click on the Upload the Video button to add this video to your profile.</span>
        <div class="preview-record-buttons margin-bottom--15">
          <button disabled class="btn primary-button margin-right--12"><i class="fas fa-video"></i> Start recording </button>
          <button disabled class="btn primary-button margin-right--12"><i class="fas fa-play"></i> Play </button>
          <button disabled class="btn primary-button margin-right--12"><i class="fas fa-cloud-download-alt"></i> Download</button>
          <button disabled class="btn primary-button margin-right--12"><i class="fas fa-cloud-upload-alt"></i> Upload Video</button>
        </div>
        <span class="preview-record-text--blue">You have a maximum of 5 min recording time.</span>
      </div>
      <video [ngClass]="{'hide-video-player': !showVideoPlayer, 'preview-info': previewRecordInfo}" class="video-rec" #recVideo autoplay></video>
      <div class="rec-actions">
        <div *ngIf="hideStopBtn">
          <button class="btn primary-button margin-right--12" (click)="start()"><i class="fas fa-video"></i> Start recording </button>
          <button class="btn primary-button margin-right--12" *ngIf="showVideoPlayer && recordedBlobs && recordedBlobs.length > 0" (click)="play()"><i class="fas fa-play"></i> Play </button>
          <button class="btn primary-button margin-right--12" *ngIf="recordedBlobs && recordedBlobs.length > 0" (click)="download()"><i class="fas fa-cloud-download-alt"></i> Download</button>
          <button class="btn primary-button margin-right--12" *ngIf="recordedBlobs && recordedBlobs.length > 0" (click)="uploadBlobVideo()"><i class="fas fa-cloud-upload-alt"></i> Upload Video</button>
        </div>
        <button *ngIf="!hideStopBtn && !showCurrentTime" class="btn danger-button margin-right--12 margin-bottom--18" (click)="pause(countDown)"><i class="fas fa-pause margin-right--8"></i> Pause</button>
        <button *ngIf="!hideStopBtn && showCurrentTime" class="btn primary-button margin-right--12 margin-bottom--18" (click)="resume()"><i class="fas fa-video margin-right--8"></i> Continue Recording</button>
        <button *ngIf="!hideStopBtn && !showCurrentTime" class="btn danger-button margin-right--12 margin-bottom--18" (click)="stop()"><i class="far fa-stop-circle margin-right--8"></i> Stop ({{ countDown | async | formatTime }})</button>
        <button *ngIf="!hideStopBtn && showCurrentTime" class="btn danger-button margin-right--12 margin-bottom--18" (click)="stop()"><i class="far fa-stop-circle margin-right--8"></i> Stop ({{ counter | formatTime }})</button>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-body">
    <h3 class="job-popup-title">Your request has been sent. CAs Online will be in touch via email shortly.</h3>
    <button (click)="d('Cross click')" class="btn primary-button job-popup-button">Got it</button>
  </div>
</ng-template>

<div *ngIf="preloaderPage" id="preloader">
  <div id="loader"></div>
</div>

<div [ngClass]="{'active': videoUploadPopups}" class="modal-video-record">
  <div class="modal-header">
    <h4 class="modal-title">disable profile</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeLookingPopup(false, true)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="padding: 1rem 2rem;">
    <h3 class="job-popup-title">Please note, turning this off will mean:</h3>
    <span class="job-popup-desc margin-bottom--6">- You will no longer receive any notifications of any new jobs.</span>
    <span class="job-popup-desc margin-bottom--6">- You will not be visible to clients browsing profiles.</span>
    <span class="job-popup-desc margin-bottom--24">- Any current applications you have made will be cancelled</span>
    <div class="d-flex d-flex--justify-around margin-bottom--12">
      <button (click)="lookingJobToggle('looking', checkLooking);closeLookingPopup(false, false)" class="btn primary-button">Disable Profile</button>
      <button (click)="closeLookingPopup(false, true)" class="btn primary-button">Go Back</button>
    </div>
  </div>
</div>

<div [ngClass]="{'active': visibleActivePopup}" class="modal-video-record">
  <div class="modal-header">
    <h4 class="modal-title">think twice</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeVisiblePopup(false, false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="padding: 1rem 2rem;">
    <h3 class="job-popup-title">Please note, turning this toggle on will mean:</h3>
    <span class="job-popup-desc margin-bottom--24">Your profile becomes visible to all potential employers - which may include your current employer.</span>
    <div class="d-flex d-flex--justify-around margin-bottom--12">
      <button (click)="closeVisiblePopup(false, true);visibleJobToggle('visible', checkVisible)" class="btn primary-button">I Understand</button>
      <button (click)="closeVisiblePopup(false, false)" class="btn primary-button">Go Back</button>
    </div>
  </div>
</div>

