{% block body_html %}

{% endblock %}
<br><br>
Kind Regards<br>
<strong>The CAs Online Team</strong>
<br><br>
<img src="{{ absolute_url(asset('assets/img/email_logo.jpg')) }}" />
<br>
<a href="mailto:info@casonline.co.za">info@casonline.co.za</a>
<br>
<a href="tel:+27(0)101101550">+27(0) 10 110 1550</a>