{% extends 'emails/base_email.html.twig' %}
{% block body_html %}
    Dear {{ user.firstName }}
    <br><br>
    Thank you for registering on CAs Online. Unfortunately, your registration has been unsuccessful.
    <br><br>
    Please note that CAs Online is currently limited to Newly Qualified Chartered Accountants and 3rd year article clerks who are eligible to work in South Africa.
    <br><br>
    Please don’t hesitate to get hold of us on <a href="mailto:info@casonline.co.za">info@casonline.co.za</a> if you qualify to register and you think your application has been declined in error.

{% endblock %}
